<!doctype html>
<html>
   <body>
   <h1>Welcome to !your! independent base for Covid-19 stats, that the government will not show you!</h1>
   <h3>Here you can choose your own countries, and show a range of graphs, that are not shown by your local government. (Countries in the EU)</h3>

   <h2><a href = "\deathsPerInfected">Deaths per infected graphs.</a></h2>
   <h2><a href = "\rawData">Raw Covid Data</a></h2>

   <br>
   <h2><a href = "\test">TestPage1 - Useless testpage</a></h2>
   <h2><a href = "\new_student">TestPage2 - Update fake database</a></h2>
   <h2><a href = "\list">TestPage3 - List of fake database</a></h2>
   <br><br><br>
   <img src="/static/corona.png" alt="Corona-symbol">
   </body>
</html>